/* CSS Ddocument */


body{

	background-color: white;
	font-family: Gaegu, sans-serif;
	text-align: justify;
	font-size: 14px;
	line-height: 25px;
	background-image: url(../images/pattern.jpg);
}


h1 {
	color: rgba(252, 224, 197, 0.75);
	text-align: center;
	font-style: italic;
	background-color: rgba(68, 36, 4, 0.85);

}

h2,h3,h4 {
	font-weight: normal;
	color: rgba(252, 230, 207, 0.95);
	text-decoration:underline;
	background-color: rgba(68, 36, 4, 0.65);
	font-size: 22px;
	line-height: 31px;
}

li #socialMedia{
	display:inline;
}